@media screen and (min-width: 320px) and (max-width: 1023px) {
.header{
    position: absolute;
     

}

.logo {
    font-size: 34px;
    left: 1rem;
    top: 0.4cm;
    color: #113f70;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

      span {
        color: #072b51;
      }
}

.header_contain{
    @include div(26rem, 100%, 0rem, 5.2rem, rgb(22, 98, 211));
    transform: translateY(-100rem);
    transition: 0.3s;
    // display: none;


    ul{
    display: block;
    position:absolute;
    right:0rem;
    top: 4rem;
    

          li{
            margin-top: 22px;
             a{
                  color: #000;
                
                  font-size: 22px;
                  padding: -25px;
                  width: -5rem;
                  position: relative;
                  right: 5rem;
                
             }

             .a1{
                background-color: antiquewhite;
                           }

          }
}
}

.icone_menu i{
    position: relative;
    float: right;
    display: flex;
    top:1rem;
    right: 2rem;
    z-index: 6;
}

.hideshow{
transform: translateY(0rem);
}

.zIndex{
    z-index: 6;
}

.c{
    display: none;
}

.c_responsive{
   display: block;
   width:100.02%;
   height: 71.3rem;
   position:absolute;
   top: 2.1cm;
   left:0;

   img{
    width:100.02%;
    height: 30.3rem;
}

#prev, #next{
    position: absolute;
    top: 13rem;
}

    #indicators{
        position: absolute;
        top: 26rem;
        font-size: 15px;
    }
}

.contenu{
    padding-top: 70px;
    @include div(18cm, 100%, 0, -5.3rem, #7babcd );
    


    span {
        width: 90%;
        @include p_left(.5cm, 3.5cm, 18px);
       
    }
}

.int {
    position: absolute;
    left: 1.73cm;
    top: 0.78cm;
    padding-top: 4cm;
    padding-left: 1.5cm;
    height: 80vh;
    width: 40vw;
}


.titre-propos {
    font-size: 32px;
    margin-top: -13rem;
    margin-left: -1.2cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.contain {
    position: absolute;
    top: 16.9cm;

    img {
        box-shadow: 7px 4px 8px black;
        @include image(7.4cm, 86vw, 0.5cm, 6.5cm, 4px);
        
    }
 
}

.Choiceofmada{
    position: absolute;
    top: 77rem;
    left: 20rem;
  text-align: center;
  

  .border2{
    @include border(1.6cm, 7px, $color_1, 8.5rem, -9.5rem);
    text-align: center;
    }

}

.choice_item1{
    position: absolute;
    top: 5rem;
    left: -17rem;
      font-size: 27px;
      width: 18rem;
    }

    .galerie{
      position: absolute;
      top: 8rem;


        .item_1 img{
            @include image(7cm, 100vw, 0, 85rem,1px);
        }

        .p1{
            @include p_left(4.5rem, 68.6em, 25px);
            width: 60vw;
        }

        
        .item_3 img{
            @include image(7cm, 100vw,  0, 117rem,1px);
        }



    }

    .galerie2{
        position: absolute;
        top: 45rem;
  
        .item_4{
            @include p_left(1rem, 68em, 24px);
            width: 90vw;
        }

          .item_5 img{
            @include image(7cm, 100vw, 0, 113.8rem,1px);
          }

        .item_6{
            @include p_left(2rem, 84em, 26px);
            width: 78vw;
            z-index: 4;
        } 
  
       
  
  
  
      }

      .galerie3{
        position: absolute;
        top: 107rem;
  
  
          .item_7 img{
              @include image(7cm, 100vw, 0, 85rem,1px);
          }

          .item_8 img{
            @include image(7cm, 100vw, 0, 101rem,1px);
        }
  
          
          .item_9 img{
              @include image(7cm, 100vw,  0, 115rem,1px);
          }
  
  
  
      }



}


@media screen and (min-width: 320px) and (max-width: 340px) {
    .contenu{
        padding-top: 70px;
        @include div(18cm, 100%, 0, -5.3rem, #7babcd );
    
    
        span {
            width: 90%;
            @include p_left(.5cm, 3.5cm, 18px);
           
        }
    }

    .Choiceofmada{
        top: 82rem;
        left: 7rem;
        width: 40rem;
    
      .border2{
        @include border(1.6cm, 9px, $color_1, 10rem, 10rem);
        text-align: center;
        }
    
    }

    .choice_item1{
     
    }
      









}