@charset "UTF-8";
@font-face {
  font-family: "coneria_script_demoregular";
  src: url("assets/demo_coneriascript-webfont.woff2") format("woff2"), url("assets/demo_coneriascript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "abril_fatfaceregular";
  src: url("assets/abrilfatface-regular-webfont.woff2") format("woff2"), url("assets/abrilfatface-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yeseva_oneregular";
  src: url("assets/yesevaone-regular-webfont.woff2") format("woff2"), url("assets/yesevaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "battoraregular";
  src: url("assets/battora-webfont.woff2") format("woff2"), url("assets/battora-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alfa_slab_oneregular";
  src: url("assets/alfaslabone-regular-webfont.woff2") format("woff2"), url("assets/alfaslabone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alegreyaregular";
  src: url("assets/alegreya-variablefont_wght-webfont.woff2") format("woff2"), url("assets/alegreya-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-family: "alegreyaregular";
}

.header {
  background-color: #f2f2f2;
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  height: 2.2cm;
  margin: 0;
  padding: 0;
  top: 0vh;
  right: 0cm;
  transition: 1s;
  z-index: 20;
}

ul {
  display: flex;
  position: absolute;
  margin: 0;
  padding: 0;
  float: right;
  right: 4vw;
  top: 0.5cm;
}

.header_contain {
  width: 100%;
  height: 10vh;
  position: absolute;
  right: -32rem;
  top: 0.46cm;
  transition: 0.5s;
}
.header_contain ul li a {
  position: relative;
  right: 38vw;
  top: -13px;
  text-decoration: none;
  color: #254E7A;
  font-size: 18.6px;
  padding: 9px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.header_contain ul li a:hover {
  background-color: rgb(244, 191, 17);
  color: black;
  border-radius: 8px;
}
.header_contain ul li a #search {
  color: #254E7A;
}
.header_contain ul li a #search:hover {
  color: black;
}

li {
  margin: 4.5px;
}

#search {
  color: rgb(0, 0, 0);
}

header ul li .a1 {
  border: 0px solid;
  background-color: #27749e;
  color: black;
  border-radius: 8px;
  padding: 7px;
}

#search:hover {
  color: black;
}

.logo {
  position: absolute;
  left: 8vw;
  font-size: 31px;
  top: 1.5rem;
  color: #113f70;
  font-family: "yeseva_oneregular";
}
.logo span {
  color: #072b51;
  font-family: "yeseva_oneregular";
}
.logo img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -1.2rem;
  margin-left: -5rem;
}

.icone_menu i {
  color: rgb(3, 19, 84);
  font-size: 33px;
  display: none;
  cursor: pointer;
  border: 2px solid rgb(4, 7, 108);
  padding: 7px;
  border-radius: 50%;
}
.icone_menu i:hover {
  background-color: rgb(138, 117, 0);
  color: black;
}

.contact {
  border: 1.5px solid #113f70;
  border-radius: 8px;
  padding: 6px;
  font-size: 42px;
  margin-left: 2rem;
}

.up- {
  width: 70px;
  height: 40px;
  position: fixed;
  top: 350em;
  right: -325em;
}

.border_princ {
  width: 3px;
  height: 277rem;
  position: absolute;
  left: 27vw;
  top: 65rem;
  background-color: #697278;
}

@media screen and (min-width: 1024px) {
  .ouest_couverture .couverture_ouest {
    position: relative;
    top: 8rem;
    left: -13.9vw;
  }
  .ouest_couverture .couverture_ouest img {
    width: 55.8vw;
    height: 27rem;
    border-radius: 5px;
  }
  .ouest_couverture .couverture {
    font-size: 35px;
    position: absolute;
    top: 5rem;
    left: -11.5vw;
    font-weight: 300;
    width: 70vw;
    font-family: "yeseva_oneregular";
    color: #29353e;
    z-index: 20;
  }
  .detail {
    width: 83.6vw;
    height: 7rem;
    position: absolute;
    left: 7.2vw;
    top: 42rem;
    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 3px;
  }
  .description_ouest {
    position: absolute;
    left: 6vw;
    top: 45rem;
    font-size: 19px;
    text-align: center;
    width: 60vw;
  }
  .detail_date {
    position: relative;
    top: 9.8rem;
    left: -39.9vw;
    color: blue;
  }
  .detail_date i {
    font-size: 25px;
  }
  .detail_date h3 {
    font-size: 23px;
    margin-top: -1.4rem;
    margin-left: 15rem;
  }
  .detail_trajet {
    position: relative;
    top: 6.64rem;
    left: -15.5vw;
    color: blue;
  }
  .detail_trajet i {
    font-size: 25px;
  }
  .detail_trajet h3 {
    font-size: 23px;
    margin-top: -1.4rem;
    margin-left: 20.6rem;
  }
}
@media screen and (min-width: 1025px) {
  .Ambatolampy {
    position: relative;
    top: 24rem;
    left: 4vw;
    width: 50vw;
    height: 17.5rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Ambatolampy .legende-ambatolampy {
    margin-left: 0vw;
  }
  .Ambatolampy .legende-ambatolampy h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 23px;
    position: absolute;
    top: 1rem;
    left: 2vw;
    font-weight: 800;
    width: 50vw;
  }
  .Ambatolampy .legende-ambatolampy i {
    font-size: 38.4px;
    color: #ca0404;
    margin-left: -19vw;
    margin-top: 1.6rem;
  }
  .Ambatolampy .desc_Ambatolampy {
    width: 45vw;
    position: relative;
    top: -0.5rem;
    font-size: 18.5px;
    left: 2.2vw;
  }
  .Ambatolampy img {
    width: 33vw;
    height: 18rem;
    position: relative;
    left: 48.5vw;
    top: -16rem;
    border-radius: 5px;
  }
  .border1 {
    width: 20vw;
    height: 3px;
    position: absolute;
    left: 50vw;
    top: 68rem;
    background-color: #697278;
  }
}
@media screen and (min-width: 1025px) {
  .Gare {
    display: block;
    border-radius: 6.5px;
    width: 47vw;
    height: 14rem;
    position: absolute;
    left: 49vw;
    top: 87rem;
    background-color: rgb(233, 232, 232);
  }
  .Gare .legende-gare {
    position: relative;
    top: 0rem;
  }
  .Gare .legende-gare h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 27px;
    position: absolute;
    top: 1rem;
    left: -2.4vw;
    font-weight: 800;
    width: 50vw;
  }
  .Gare .legende-gare i {
    font-size: 38.4px;
    color: #ca0404;
    margin-left: -15vw;
    margin-top: 1.6rem;
  }
  .Gare .desc_Gare {
    width: 44vw;
    position: absolute;
    top: 4rem;
    font-size: 18.5px;
    left: 1.4vw;
  }
  .Gare img {
    width: 33vw;
    height: 18rem;
    position: relative;
    left: -46.5vw;
    top: -6rem;
    border-radius: 5px;
  }
  .border2 {
    width: 20vw;
    height: 3px;
    position: absolute;
    left: 35vw;
    top: 94.6rem;
    background-color: #697278;
  }
  .Therme {
    position: relative;
    top: 59rem;
    left: 4vw;
    width: 50vw;
    height: 21rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Therme .legende-therme {
    margin-left: 0vw;
  }
  .Therme .legende-therme h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 27px;
    position: absolute;
    top: 1rem;
    left: -4vw;
    font-weight: 800;
    width: 50vw;
  }
  .Therme .legende-therme i {
    font-size: 38.4px;
    color: #ca0404;
    margin-left: -19vw;
    margin-top: 1.6rem;
  }
  .Therme .desc_Therme {
    width: 45vw;
    position: relative;
    top: -0.5rem;
    font-size: 18.5px;
    left: 2.2vw;
  }
  .Therme img {
    width: 33vw;
    height: 18rem;
    position: relative;
    left: 48.5vw;
    top: -19.5rem;
    border-radius: 5px;
  }
  .border3 {
    width: 20vw;
    height: 3px;
    position: absolute;
    left: 50vw;
    top: 122rem;
    background-color: #697278;
  }
  .Marché {
    display: block;
    border-radius: 6.5px;
    width: 47vw;
    height: 22rem;
    position: absolute;
    left: 49vw;
    top: 143.5rem;
    background-color: rgb(233, 232, 232);
  }
  .Marché .legende-marché {
    position: relative;
    top: 0rem;
  }
  .Marché .legende-marché h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 27px;
    position: absolute;
    top: 1rem;
    left: -4.4vw;
    font-weight: 800;
    width: 50vw;
  }
  .Marché .legende-marché i {
    font-size: 38.4px;
    color: #ca0404;
    margin-left: -15vw;
    margin-top: 1.6rem;
  }
  .Marché .desc_Marché {
    width: 44vw;
    position: absolute;
    top: 4rem;
    font-size: 18.5px;
    left: 1.4vw;
  }
  .Marché img {
    width: 33vw;
    height: 18rem;
    position: relative;
    left: -46.5vw;
    top: -2.5rem;
    border-radius: 5px;
  }
  .border4 {
    width: 20vw;
    height: 3px;
    position: absolute;
    left: 35vw;
    top: 154.6rem;
    background-color: #697278;
  }
}
@media screen and (min-width: 1025px) {
  .Andraikiba {
    position: relative;
    top: 102rem;
    left: 4vw;
    width: 50vw;
    height: 16rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Andraikiba .legende-andraikiba {
    margin-left: 0vw;
  }
  .Andraikiba .legende-andraikiba h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 27px;
    position: absolute;
    top: 1rem;
    left: -9.5vw;
    font-weight: 800;
    width: 50vw;
  }
  .Andraikiba .legende-andraikiba i {
    font-size: 38.4px;
    color: #ca0404;
    margin-left: -19vw;
    margin-top: 1.6rem;
  }
  .Andraikiba .desc_Andraikiba {
    width: 45vw;
    position: relative;
    top: -0.5rem;
    font-size: 18.5px;
    left: 2.2vw;
  }
  .Andraikiba img {
    width: 33vw;
    height: 18rem;
    position: relative;
    left: 48.5vw;
    top: -16rem;
    border-radius: 5px;
  }
  .border5 {
    width: 20vw;
    height: 3px;
    position: absolute;
    left: 50vw;
    top: 184.5rem;
    background-color: #697278;
  }
}
@media screen and (min-width: 1024px) {
  .Tritriva {
    display: block;
    border-radius: 6.5px;
    width: 47vw;
    height: 15rem;
    position: absolute;
    left: 49vw;
    top: 203.5rem;
    background-color: rgb(233, 232, 232);
  }
  .Tritriva .legende-tritriva {
    position: relative;
    top: 0rem;
  }
  .Tritriva .legende-tritriva h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 27px;
    position: absolute;
    top: 1rem;
    left: -10vw;
    font-weight: 800;
    width: 50vw;
  }
  .Tritriva .legende-tritriva i {
    font-size: 38.4px;
    color: #ca0404;
    margin-left: -15vw;
    margin-top: 1.6rem;
  }
  .Tritriva .desc_Tritriva {
    width: 44vw;
    position: absolute;
    top: 4rem;
    font-size: 18.5px;
    left: 1.4vw;
  }
  .Tritriva img {
    width: 33vw;
    height: 18rem;
    position: relative;
    left: -46.5vw;
    top: -5.5rem;
    border-radius: 5px;
  }
  .border6 {
    width: 20vw;
    height: 3px;
    position: absolute;
    left: 35vw;
    top: 211.6rem;
    background-color: #697278;
  }
}
@media screen and (min-width: 1025px) {
  .Miandrivazo {
    position: relative;
    top: 142rem;
    left: 4vw;
    width: 50vw;
    height: 18.5rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Miandrivazo .legende-miandrivazo {
    margin-left: 0vw;
  }
  .Miandrivazo .legende-miandrivazo h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 27px;
    position: absolute;
    top: 1rem;
    left: -9.5vw;
    font-weight: 800;
    width: 50vw;
  }
  .Miandrivazo .legende-miandrivazo i {
    font-size: 38.4px;
    color: #ca0404;
    margin-left: -19vw;
    margin-top: 1.6rem;
  }
  .Miandrivazo .desc_Miandrivazo {
    width: 45vw;
    position: relative;
    top: -0.5rem;
    font-size: 18.5px;
    left: 2.2vw;
  }
  .Miandrivazo img {
    width: 33vw;
    height: 18rem;
    position: relative;
    left: 48.5vw;
    top: -16rem;
    border-radius: 5px;
  }
  .border7 {
    width: 20vw;
    height: 3px;
    position: absolute;
    left: 50vw;
    top: 184.5rem;
    background-color: #697278;
  }
}
@font-face {
  font-family: "lumanosimoregular";
  src: url("./assets/lumanosimo-regular-webfont.woff2") format("woff2"), url("./assets/lumanosimo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "coneria_script_demoregular";
  src: url("assets/demo_coneriascript-webfont.woff2") format("woff2"), url("assets/demo_coneriascript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "abril_fatfaceregular";
  src: url("assets/abrilfatface-regular-webfont.woff2") format("woff2"), url("assets/abrilfatface-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yeseva_oneregular";
  src: url("assets/yesevaone-regular-webfont.woff2") format("woff2"), url("assets/yesevaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "battoraregular";
  src: url("assets/battora-webfont.woff2") format("woff2"), url("assets/battora-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alfa_slab_oneregular";
  src: url("assets/alfaslabone-regular-webfont.woff2") format("woff2"), url("assets/alfaslabone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alegreyaregular";
  src: url("assets/alegreya-variablefont_wght-webfont.woff2") format("woff2"), url("assets/alegreya-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=ouest.css.map */
