
@media screen and (min-width: 1024px) {
  

.anim_1{
     width: 21px;
     height: 21px;
     background-color: rgb(133, 99, 6);
     position: absolute;
     top: 12.5rem;
     left: 24vw;
     animation: rotate 5s infinite linear;
}

@keyframes rotate {
     0%{
       transform: rotate(350deg);
     }
     20%{
      transform: rotate(450deg);
    }
    40%{
      transform: rotate(550deg);
    }
    60%{
      transform: rotate(650deg);
    }

    80%{
      transform: rotate(750deg);
    }

    100%{
      transform: rotate(0deg);
    }
}
.suggestion{
    position: absolute;
    top: 190rem;
    left: 0;
         
       h1{
          @include h(43px, 4rem, 25vw, 500, 45vw);
          font-family: 'abril_fatfaceregular';
    font-size: 50px;
    font-weight: bold;
    color: $color-2;
       }

       p{
          @include p_left(5vw, 12rem, 22px);
          text-align: center;
          width: 80vw;
         
       }

       .border5{
        border-radius: 5px;
        @include border(1.6cm, 9px, $color_1, 9rem, 44vw);
        text-align: center;
        }

        .contain1{
              display: flex;
             position: absolute;
             top: 20rem;
             left: -11vw;

                .i1, .i2, .i3{
                     margin-left: 24.4rem;
                     border: 0px solid black;
                     padding-top: 5px;
                     padding-bottom: 13px;
                     padding-left: 19px;
                     padding-right: 19px;
                     font-size: 28px;
                     border-radius: 80%;
                     color:#ffff;
                     font-weight: bold;
                     background-color: rgb(172, 136, 7);
                     animation: rotate_ 5s infinite linear;
                    }
        }

        @keyframes rotate_ {
          0%{
            transform: rotate(350deg);
          }
          20%{
           transform: rotate(450deg);
         }
         40%{
           transform: rotate(550deg);
         }
         60%{
           transform: rotate(650deg);
         }
     
         80%{
           transform: rotate(750deg);
         }
     
         100%{
           transform: rotate(850deg);
         }
     }
     
        .border_um{
              @include border (63vw, 6px, rgb(172, 136, 7), 22rem, 20vw);
        }

        .contain2{
             display: flex;
             position: absolute;
             top: 27rem;
             left: -5vw;
              
              div{
                  height: 19rem;
                  width: 15rem;
                  margin-left: 15vw;
                  border-radius: 5px;
                  box-shadow: 0px 7px 12px black;
              }

               .item_1{
                background-image: url(./assets/image/airport-2373727_1280.jpg);
                background-size: cover;

                   h1{
                      @include h(23px, 21rem, 9vw, bold, 24vw);
                      color: rgb(148, 127, 8);
                      font-style: italic;
                      font-family:Georgia, 'Times New Roman', Times, serif;
                   }
               }

               .item_2{
                background-image: url(./assets/image/plane.jpg);
                background-size: cover;

                h1{
                    @include h(23px, 21rem, 44vw, bold, 24vw);
                    color: rgb(148, 127, 8);
                    font-style: italic;
                    font-family:Georgia, 'Times New Roman', Times, serif;
                 }
               }

               .item_3{
                background-image: url(./assets/image/ivato.jpg);
                background-size: cover;

                h1{
                    @include h(23px, 21rem, 76vw, bold, 24vw);
                    color: rgb(148, 127, 8);
                    font-style: italic;
                    font-family:Georgia, 'Times New Roman', Times, serif;
                 }
               }
        }



    
}
}